
   
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 5vh 20vw;
}

p {
    color: rgb(219, 219, 219);
}

.title {
    font-size: 5.5rem;
    color: rgb(60, 60, 60);
    margin-bottom: 3vh;
    margin-left: 2vw;
    transform-origin: left;
}

.title:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

span {
    font-weight: 700;
}

.navbar {
    margin-bottom: 10vh;
}

.navbar a {
    border-radius: 2px solid black;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    margin: 19px;
    padding: 5px 28px;
    border: 1px solid rgb(210, 210, 210);
}

.navbar a:hover {
    background-color:rgb(65, 93, 231);
    color: white;
    transition: all 150ms ease-in-out;
    transform-origin: left;
}

.navbar a:nth-child(1) {
    margin-left: 2vw;
}

.weather {
    display: none;
    margin-left: calc(2vw + 10px);
    color: #888888;
}

.help, .line {
    margin-left: calc(2vw + 10px);
    color: #888888;
}

.footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    margin-bottom: 0;

    /* width: 100vw; */
    border-top: 1px solid rgb(210, 210, 210);
    height: 20px;
    font-size: 1rem;
    padding-top: 6vh;
    padding-left: calc(2vw + 10px);
    /* background-color: rgb(212, 65, 231); */
    color: #888888;
}

/* .bottom-strap {
    background-color:rgb(65, 93, 231);
    width: 100vw;
    height: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
} */

.searcharea {
    margin-left: calc(2vw + 10px);
    display: flex;
    width: 100%;
    margin-bottom: 5vh;
    /* background-color: yellow; */
}

.searcharea input {
    padding: 10px 20px;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid rgb(210, 210, 210);
    color: #666666;
}

.searcharea input::placeholder {
    color: rgb(210, 210, 210);
}

.searcharea input:focus {
    border: 1px solid rgb(65, 93, 231);
}

.searcharea .button {
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #888888;
    border: 1px solid rgb(210, 210, 210);
    
}
/* .button{
    border-radius: 2px solid black;
} */

.searcharea .button:hover {
    background-color:rgb(65, 93, 231);
    color: white;
    transition: all 100ms ease-in-out;
}

.owner {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.owner:hover {
    color:rgb(65, 93, 231);
}

/* 
header{
    background-color: blue;
} */

